<?xml version="1.0"?>
<robot name="crazyflie2" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:macro name="whycon_marker" params="namespace marker_width marker_radius marker">
		<joint name="${marker}_joint" type="fixed">
			<origin xyz="0 0 0.035" rpy="0 0 0"/>
			<parent link="${namespace}/base_link"/>
			<child link="${marker}_link"/>
		</joint>
		<link name="${marker}_link">
			<!-- <inertial> -->
			<!-- <mass value="0.0025"/> -->
				<!-- <inertia ixx="0.00000801" ixy="0.0" ixz="0.0"
				iyy="0.00000801" iyz="0.0"
				izz="0.000016"/> -->
<!-- 				<inertia ixx="0.000000391" ixy="0.0" ixz="0.0"
				iyy="0.000000391" iyz="0.0"
				izz="0.000000781"/> -->
				<!-- </inertial> -->
				<visual>
					<origin xyz="0 0 0" rpy="0 0 0"/>
					<geometry>
						<cylinder length="${marker_width}" radius="${marker_radius}"/>
					</geometry>
				<material name="whycon_marker_image" scale="0.5 0.5"/>
				</visual>
				<collision>
					<geometry>
						<cylinder length="${marker_width}" radius="${marker_radius}"/>
					</geometry>
				</collision>
			</link>
		</xacro:macro>
	</robot>
