<launch>
  <arg name="mav_name" default="crazyflie2"/>
  <!-- <arg name="mav_name" default="eyantra_drone" -->
  <arg name="world_name" default="basic"/>
  <!-- <arg name="world_name" default="marker_detect_arena" -->
  <arg name="enable_logging" default="false" />
  <arg name="enable_ground_truth" default="true" />
  <arg name="enable_state_estimator" default="false" />
  <arg name="log_file" default="$(arg mav_name)" />
  <arg name="paused" value="false"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>